<div class="collapsible collapsible--extended">
    <header class="collapsible__heading">
      <h2 class="collapsible__header">Item1</h2>
        <svg class="icon icon--white icon--collapsible">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
      adipisci ut deleniti ab totam quia praesentium debitis sunt itaque
      maxime!
    </div>
  </div>