<footer class="block block--dark footer">
    <div class="container grid footer__sections">
      <div class="collapsible collapsible--extended footer-section">
        <header class="collapsible__heading">
          <h2 class="collapsible__header footer__heading">Item1</h2>
          <svg class="icon icon--white icon--collapsible">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">product</a></li>
            <li><a href="#">product</a></li>
            <li><a href="#">product</a></li>
          </ul>
        </div>
      </div>
      <div class="collapsible footer-section">
        <header class="collapsible__heading">
          <h2 class="collapsible__header footer__heading">Item2</h2>
          <svg class="icon icon--white icon--collapsible">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">product</a></li>
            <li><a href="#">product</a></li>
            <li><a href="#">product</a></li>
          </ul>
        </div>
      </div>

      <div class="collapsible footer-section">
        <header class="collapsible__heading">
          <h2 class="collapsible__header footer__heading">Item3</h2>
          <svg class="icon icon--white icon--collapsible">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">product</a></li>
            <li><a href="#">product</a></li>
            <li><a href="#">product</a></li>
          </ul>
        </div>
      </div>

      <div class="collapsible footer-section">
        <header class="collapsible__heading">
          <h2 class="collapsible__header footer__heading">Item3</h2>
          <svg class="icon icon--white icon--collapsible">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">product</a></li>
            <li><a href="#">product</a></li>
            <li><a href="#">product</a></li>
          </ul>
        </div>
      </div>
      <section class="footer__brand">
        <img src="images/logo.svg" alt="" />
        <p class="footer__copyright">Copyright 2023 @YousefAbdelrhem</p>
      </section>
    </div>
  </footer>