<blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis
      expedita, molestias amet obcaecati aperiam optio dolorem quis
      exercitationem culpa facere!
    </p>
    <footer>
      <div class="media">
        <div class="media__image ">
         <svg class="icon icon--primary quote__line">
           <use xlink:href="Imgs/sprite.svg#line"></use>
             </svg>
        </div>
        <div class="media__body ">
          <h3 class="media__title quote__author">Yousef Abdelrhem</h3>
          <p class="company__name">The Chance Company</p>
        </div>
      </div>
      
    </footer>
  </blockquote>